PORT=3000

#Conexão com o Banco de Dados MongoDB
MONGO_URI=coloque_a_string_de_conexao_aqui

#Segredo para criptografar token de login
JWT_SECRET=coloque_um_segredo_aqui

#Credenciais para disparo de e-mails (Recuperação de Senha)
EMAIL_USER=aplicativo.renature.app@gmail.com
EMAIL_PASS=syxvlrgxnllcnzsd